
.container{
    max-width: 980px;
    width: 100%;
}

header{
    display: inline-block;
    height: 60px;
    background: black;
    line-height: 56px;
    margin-bottom: 20px;

    max-width: 980px;
    width: 100%;
}

main{
    max-width: 569px;
    width: 59%;
    margin-right: 1%;

    float: left;
    display: inline-block;
}

aside{
    float: right;
    max-width: 370px;
    width: 38%;
    margin-bottom: 20px;
}

.categories{
}

.latest-posts{
}

.favourite-posts{
}

footer{
    width: 100%;
    display: inline-block;
    height: 80px;
}

footer p{
    line-height: 70px;
}

header > a:first-child{
    margin-right: auto;
}

header a{
    color: #2ecc71;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0em 2em;
}

header a.active{
    color: #ffffff;
}

/*------------------------*/

@media only screen and (min-width: 1240px){
    body{
    }

    .container{
    }
}

@media only screen and (max-width: 700px){
    main,
    aside{
        width: 96%;
        max-width: none;
        margin: 10px 2%;
    }
}
