
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    grid-template-rows: 80px 300px auto auto 80px;
    grid-template-areas:
        "pageHeader pageHeader pageHeader pageHeader pageHeader"
        "postsSection postsSection postsSection categories categories"
        "postsSection postsSection postsSection latestPosts latestPosts"
        "postsSection postsSection postsSection favPosts favPosts"
        "mainFooter mainFooter mainFooter mainFooter mainFooter";
}

header{
    /*grid-column: span 6;*/
    grid-area: pageHeader;
}

main{
    /*grid-column: span 4;*/
    grid-area: postsSection;
}

.categories{
    /*grid-column: span 2;*/
    grid-area: categories;
}

.latest-posts{
    /*grid-column: span 2;*/
    grid-area: latestPosts;
}
.favourite-posts{
    /*grid-column: span 2;*/
    grid-area: favPosts;
}

footer{
    /*grid-column: span 6;*/
    grid-area: mainFooter;
}

header{
    display: flex;
    align-items: center;
    height: 60px;
    background: #343434;
}

header > a:first-child{
    margin-right: auto;
}

header a{
    color: #2ecc71;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0em 2em;
}

header a.active{
    color: #ffffff;
}


/*------------------------*/

@media only screen and (min-width: 1240px){
    body{
        max-width: 1240px;
    }

    .container{
        grid-template-rows: 80px 300px auto 80px;
        grid-template-areas:
            "pageHeader pageHeader pageHeader pageHeader pageHeader"
            "postsSection postsSection postsSection categories categories"
            "postsSection postsSection postsSection favPosts latestPosts"
            "mainFooter mainFooter mainFooter mainFooter mainFooter";
    }
}

@media only screen and (max-width: 700px){
    .container{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
                "pageHeader"
                "postsSection"
                "categories"
                "favPosts"
                "latestPosts"
                "mainFooter";
    }
}
